@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import '../style/paleta.css';
@import '../style/sizing.css';

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

a:link, a:active, a:visited {
    color: var(--link);
}

h2 {
    font-size: 1.5em;
    margin: .2rem 0rem;
}

h3 {
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: .5rem;
    color: var(--subtitle);
}

#base-struct {
    display: grid;
    grid-template-columns: auto auto auto;
}

#background-effects {
    background: var(--bg-accent);
    width: 100vw;
    height: 100vh;
    grid-row: 1 / -1 ;
    grid-column: 1 / -1;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 80%, 55% 100%, 0 100%, 0% 25%);
    clip-path: polygon(15% 0, 100% 0, 100% 80%, 55% 100%, 0 100%, 0% 25%);
    position: fixed;
    z-index:-1;
}

#inside-content {
    max-width: 55rem;
    grid-row: 1 / -1 ;
    grid-column: 2 / 3;
    padding:2rem;
}

.logo {
    width: 6rem;
    margin: 1rem 0rem;
}

.feat-items {
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 2rem;
}

.hero-area {
    min-height: 20rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto); 
}

.hero-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 1.5rem;
}

.hero-title a {
    color: var(--text);
}

.hero-image {
    grid-column: 1 / -2;
    grid-row: 2 / -2;
    width: 100%;
    object-fit: cover;
}

.more-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#next-events {
    grid-column: -2 / -1;
    grid-row: 2 / -2;
}

li {
    line-height: 1.4rem;
    list-style: lower-roman url('../vector/bullet.svg') outside;
}

span li a:link, span li a:visited {
    color: white;
}

footer {
    text-align: center;
    padding: 2rem;
    color: var(--text);
    background-color: black;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-links img {
    width: 1.2rem;
    margin:.8rem;
}



@media (max-width: 650px) {
    #base-struct {
        grid-template-columns: 10vw auto 10vw;
    }
    #inside-content {
        width: 80vw;
        padding:.5rem;
    }
    .feat-items {
        margin-bottom: 2.5rem;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
    }
    .more-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .hero-image {
        grid-column: 1 / -1;
        grid-row: 2 / -2;
        width: 100%;
        object-fit: cover;
    }
    #next-events {
        grid-column: 1 / -1;
        grid-row: -2 / -1;
    }
}

@media (max-width: 500px) {
    
    #base-struct {
        grid-template-columns: 5vw auto 5vw;
    }
    #inside-content {
        width: 90vw;
        padding:.1rem;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .feat-items {
        margin-bottom: 2.5rem;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
    }
    .more-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .hero-image {
        grid-column: 1 / -1;
        grid-row: 2 / -2;
        width: 100%;
        object-fit: cover;
    }
    #next-events {
        grid-column: 1 / -1;
        grid-row: -2 / -1;
    }
}

@media (max-width: 500px) {
    
    #base-struct {
        grid-template-columns: 15vw auto 15vw;
    }
    #inside-content {
        width: 70vw;
        padding:.1rem;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .feat-items {
        margin-bottom: 2.5rem;
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
    }
    .more-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .hero-image {
        grid-column: 1 / -1;
        grid-row: 2 / -2;
        width: 100%;
        object-fit: cover;
    }
    #next-events {
        grid-column: 1 / -1;
        grid-row: -2 / -1;
        margin: 1.5rem .1rem;
    }
}

@media (max-width: 300px) {
    #base-struct {
        grid-template-columns: 2px auto 2px;
    }
    .social-links img {
        width: .95rem;
        margin:.5rem;
    }
}